@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

    <div class="about-section">
        <div class="text-overlay">
            <h1>Contact Us</h1>
            <p><a class="centre-part-services" href="/">Home</a> > <span>Contact</span></p>
        </div>
    </div>

<section class="contact-info bg-gray">
@await Html.PartialAsync("partials/static/contactUs.cshtml")
</section>

    <div class="map-image">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2035.161524189859!2d18.051319777567095!3d59.33025707461474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e0!3m2!1sen!2sse!4v1727806854044!5m2!1sen!2sse" 
        width="100%" 
        height="590px" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

    <div class="form-container-contact">
        <div class="container_unique">
            <p class="call-back_unique">REQUEST A CALL BACK</p>
            <h3>Let us know about your <br> next project</h3>
            <p class="description_unique">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur,
                ligula
                semper sagittis lobortis, eros metus efficitur purus</p>
            <form>
                <div class="form-group_unique">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Phone">
                </div>
                <div class="form-group_unique">
                    <input type="email" placeholder="Email address">
                    <select>
                        <option>Financial consulting</option>
                    </select>
                </div>
                <button class="submit-btn_unique" type="submit">Submit</button>
            </form>
        </div>
    </div>

