<?xml version="1.0" encoding="utf-8"?>
<Content Key="f40552a3-0a6e-495c-aed7-d428556450e2" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2024-09-22T21:46:31</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0e39ad3f-3e8f-4e41-9626-9fac8897e74c">about</Template>
  </Info>
  <Properties>
    <aboutPText>
      <Value><![CDATA[]]></Value>
    </aboutPText>
    <aboutPTextSpan>
      <Value><![CDATA[]]></Value>
    </aboutPTextSpan>
    <aboutPTextUrl>
      <Value><![CDATA[]]></Value>
    </aboutPTextUrl>
    <aboutTinaImg>
      <Value><![CDATA[[
  {
    "key": "b75228df-56da-427d-8512-b083019b05be",
    "mediaKey": "3edacb52-9e81-4f1a-b7c0-8a89651406c6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutTinaImg>
    <aboutTitle>
      <Value><![CDATA[About]]></Value>
    </aboutTitle>
    <expertHeadline>
      <Value><![CDATA[]]></Value>
    </expertHeadline>
    <expertImgAaron>
      <Value><![CDATA[[
  {
    "key": "b260aff9-3358-4e1c-80e9-9908084176a5",
    "mediaKey": "44323292-2344-4eea-9c32-72e0e45415f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgAaron>
    <expertImgBrandon>
      <Value><![CDATA[[
  {
    "key": "d28c18ab-2c78-4b97-8397-dcb13ed91622",
    "mediaKey": "781d1315-aa28-4ed9-92ad-7251e8eec96d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgBrandon>
    <expertImgCarter>
      <Value><![CDATA[[
  {
    "key": "ffce515d-6f21-46bc-acd9-ffdc42ab09e1",
    "mediaKey": "4358a0c4-0b6f-49a4-9bb9-f6b4c2c7aaaf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgCarter>
    <expertImgKerr>
      <Value><![CDATA[[
  {
    "key": "a05f8131-80c3-417d-bc7a-fbcf657f889d",
    "mediaKey": "b410a2fe-b917-4d00-bdcc-4de9a986f5e0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgKerr>
    <expertImgKevin>
      <Value><![CDATA[[
  {
    "key": "74b0614f-6831-460e-8bd7-6583179333da",
    "mediaKey": "8efb826f-c162-4aeb-a606-ccc9f888b8b2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgKevin>
    <expertImgMiranda>
      <Value><![CDATA[[
  {
    "key": "27a3fd64-c475-4e56-a7fd-82274439f317",
    "mediaKey": "353f706b-55d8-4d05-9380-f33bcfb50c19",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgMiranda>
    <expertImgText1>
      <Value><![CDATA[]]></Value>
    </expertImgText1>
    <expertImgText2>
      <Value><![CDATA[]]></Value>
    </expertImgText2>
    <expertImgText3>
      <Value><![CDATA[]]></Value>
    </expertImgText3>
    <expertImgTina>
      <Value><![CDATA[[
  {
    "key": "8e0e7c3f-d17d-44ef-a062-0bbfc6054275",
    "mediaKey": "217411b4-fc63-4d05-a998-e4a4ca26de98",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImgTina>
    <expertImgTitle1>
      <Value><![CDATA[]]></Value>
    </expertImgTitle1>
    <expertImgTitle2>
      <Value><![CDATA[]]></Value>
    </expertImgTitle2>
    <expertImgTitle3>
      <Value><![CDATA[]]></Value>
    </expertImgTitle3>
    <expertTitle>
      <Value><![CDATA[]]></Value>
    </expertTitle>
    <greatHeadline>
      <Value><![CDATA[]]></Value>
    </greatHeadline>
    <greatImg>
      <Value><![CDATA[[
  {
    "key": "d815e8fa-aca4-4821-a21b-bfa14bb1955c",
    "mediaKey": "573d44dd-1364-4fa6-958d-8519918d56d5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </greatImg>
    <greatKevin>
      <Value><![CDATA[]]></Value>
    </greatKevin>
    <greatPText>
      <Value><![CDATA[]]></Value>
    </greatPText>
    <greatStars>
      <Value><![CDATA[]]></Value>
    </greatStars>
    <greatSwebank>
      <Value><![CDATA[]]></Value>
    </greatSwebank>
    <greatTitle>
      <Value><![CDATA[]]></Value>
    </greatTitle>
    <nextProjectBakgroundImg>
      <Value><![CDATA[[
  {
    "key": "7cf3e508-dda6-4ed0-9fc2-cd479aa0a5da",
    "mediaKey": "ed9ff1cc-ae73-43dc-82ac-3ab212b3ed86",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectBakgroundImg>
    <nextProjectImg>
      <Value><![CDATA[[
  {
    "key": "6d0edefb-bce9-46ca-8cc3-5607d1bbadf3",
    "mediaKey": "42f417d2-28a9-4fcf-a617-001c2e3b6a6e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImg>
  </Properties>
</Content>