<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb2a0f23-476c-4b57-bde7-9f46b8302ded" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-10-01T20:06:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a323e0be-8345-4ca4-b519-125fd3977111">contact</Template>
  </Info>
  <Properties />
</Content>