<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cc0fbcb-783f-44a9-a577-0a8428e77113" Alias="Managment" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Managment</Path>
    <Trashed>false</Trashed>
    <ContentType>managment</ContentType>
    <CreateDate>2024-10-02T21:09:12</CreateDate>
    <NodeName Default="Managment" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72ab1e84-2be6-44ea-bbc9-98331ce64edf">managment</Template>
  </Info>
  <Properties>
    <managmentAboutImg>
      <Value><![CDATA[]]></Value>
    </managmentAboutImg>
    <managmentKeyImg>
      <Value><![CDATA[]]></Value>
    </managmentKeyImg>
    <managmentKeyPointImg>
      <Value><![CDATA[]]></Value>
    </managmentKeyPointImg>
  </Properties>
</Content>