<?xml version="1.0" encoding="utf-8"?>
<Content Key="a52f644a-f49d-4abd-a1af-b91ed698a512" Alias="Official Website -Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-17T22:42:25</CreateDate>
    <NodeName Default="Official Website -Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93149271-cc0a-4619-8e56-122a52434e15">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadLine>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadLine>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "e332613d-00f3-49ef-a58a-00455756ff16",
    "mediaKey": "2949d9bd-a705-4f40-96e3-616ffbb3b82d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium]]></Value>
    </aboutText>
    <cardHeading1>
      <Value><![CDATA[Risk Management]]></Value>
    </cardHeading1>
    <cardHeading1Image>
      <Value><![CDATA[[
  {
    "key": "ecae89dd-8d81-4de9-9fce-9c1472451a80",
    "mediaKey": "c1fcf6ee-9c76-420c-bf6e-672b2fe1d250",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading1Image>
    <cardHeading2>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </cardHeading2>
    <cardHeading2Image>
      <Value><![CDATA[[
  {
    "key": "ea3432a7-c1b1-48e6-a4ef-7349364040b2",
    "mediaKey": "3b8f9f7a-fe3d-4eb3-966f-8ce3ca5dd5de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading2Image>
    <cardHeading3>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </cardHeading3>
    <cardHeading3Image>
      <Value><![CDATA[[
  {
    "key": "e7a9d4eb-0a5a-4a56-92b0-ff2c9380f477",
    "mediaKey": "3b8f9f7a-fe3d-4eb3-966f-8ce3ca5dd5de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading3Image>
    <cardHeading4>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </cardHeading4>
    <cardHeading4Image>
      <Value><![CDATA[[
  {
    "key": "daf26434-f6dd-4100-8119-0d56316cdae9",
    "mediaKey": "9a87e292-3e81-49e1-b684-18ecfbee329a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading4Image>
    <cardHeading5>
      <Value><![CDATA[Financial Advisor]]></Value>
    </cardHeading5>
    <cardHeading5Image>
      <Value><![CDATA[[
  {
    "key": "e2d868e7-d231-4b27-b29b-1208f6231548",
    "mediaKey": "3e475bcb-8ca8-4749-a333-ade71edaff91",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading5Image>
    <cardHeading6>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </cardHeading6>
    <cardHeading6Image>
      <Value><![CDATA[[
  {
    "key": "1f53d24c-a2dd-4fbd-b452-6a1f340078d6",
    "mediaKey": "561ddbbe-9368-401b-97b0-368370dbae19",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardHeading6Image>
    <cardText>
      <Value><![CDATA[]]></Value>
    </cardText>
    <cardText1>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </cardText1>
    <cardText2>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

]]></Value>
    </cardText2>
    <cardText3>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </cardText3>
    <cardText4>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardText4>
    <cardText5>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </cardText5>
    <cardText6>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </cardText6>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "19e37b28-333f-489f-bc55-44d1ba677706",
    "mediaKey": "1611955f-0faf-4d8b-8a80-3465fe5448f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact ]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring ]]></Value>
    </heroHeadline>
    <heroHeadline1>
      <Value><![CDATA[ success to you]]></Value>
    </heroHeadline1>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
ad minim]]></Value>
    </heroText>
    <logoImg>
      <Value><![CDATA[[
  {
    "key": "82db0b92-aff3-4091-ab33-e395f91b262b",
    "mediaKey": "4d1f8ad1-2918-4541-b4fe-713fde99d780",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoImg>
    <pageTitle>
      <Value><![CDATA[Home Page]]></Value>
    </pageTitle>
    <partner01>
      <Value><![CDATA[[
  {
    "key": "47a452dd-ab2d-40cb-bec3-9a8aede10ec7",
    "mediaKey": "beb7a261-db1a-401c-81bb-21edfbc00479",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner01>
    <partner02>
      <Value><![CDATA[[
  {
    "key": "fab6e4ae-8a0d-4b36-a824-d1aa38ac3f24",
    "mediaKey": "ff144017-b2ff-47fb-830c-599d034063b3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner02>
    <partner03>
      <Value><![CDATA[[
  {
    "key": "5451b5ae-eb08-4213-9f0d-cc87b27ddea8",
    "mediaKey": "23e6e357-b8df-40d8-8bfc-3586beb0484c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner03>
    <partner04>
      <Value><![CDATA[[
  {
    "key": "ebd9235a-6a2b-4111-855d-c6eeeb57ebb4",
    "mediaKey": "6cd7c05a-619e-4f48-8940-740f365213f8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner04>
    <partner05>
      <Value><![CDATA[[
  {
    "key": "f8c5efea-9e1e-493a-814f-90c2d2ebbe73",
    "mediaKey": "27918dc3-1ff8-46f8-becc-80acc19273e3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner05>
    <partner06>
      <Value><![CDATA[[
  {
    "key": "0454bc5b-9f21-4975-8d1a-0f7686712cdd",
    "mediaKey": "8b5374c3-4618-4a8f-aa40-21bf3d83e842",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partner06>
    <recentH4Text1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentH4Text1>
    <recentH4Text2>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentH4Text2>
    <recentH4Text3>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </recentH4Text3>
    <recentH4Text4>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentH4Text4>
    <recentHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentHeadline>
    <recentImg1>
      <Value><![CDATA[[
  {
    "key": "9a7b1ce1-428c-4dbf-b633-e7fc8c4c7e2a",
    "mediaKey": "89b58358-a063-497b-b7de-5cd476a527a7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentImg1>
    <recentImg2>
      <Value><![CDATA[[
  {
    "key": "5d0d669a-109c-45c2-97f0-4be5e62f78a6",
    "mediaKey": "c2843246-892c-419b-815b-54d484329ba0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentImg2>
    <recentImg3>
      <Value><![CDATA[[
  {
    "key": "0d1ac999-83e4-4dc9-8283-4b027949edf7",
    "mediaKey": "f7fd5d5d-e47a-41e6-b239-8a271e53a3ab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentImg3>
    <recentImg4>
      <Value><![CDATA[[
  {
    "key": "e95ec797-c97d-4da7-84a4-f75e91ce4c07",
    "mediaKey": "0c3cdb5d-a747-4f91-9e6e-d8ffd00ebddd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentImg4>
    <recentPText1>
      <Value><![CDATA[Financial Services]]></Value>
    </recentPText1>
    <recentPText2>
      <Value><![CDATA[Financial Services]]></Value>
    </recentPText2>
    <recentPText3>
      <Value><![CDATA[Financial Services]]></Value>
    </recentPText3>
    <recentPText4>
      <Value><![CDATA[Financial Services]]></Value>
    </recentPText4>
    <recentTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentTitle>
    <serviceHeadline>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceHeadline>
    <serviceHeadtext>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </serviceHeadtext>
    <serviceHeadText2>
      <Value><![CDATA[]]></Value>
    </serviceHeadText2>
    <storyBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "f197a839-7702-47b9-8c45-e0c129aa62af",
    "mediaKey": "8856e9f9-572d-4634-b9c5-c499fb10c8fc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyBackgroundImage>
    <storyBottomText>
      <Value><![CDATA[Read our story]]></Value>
    </storyBottomText>
    <storyBottomUrl>
      <Value><![CDATA[]]></Value>
    </storyBottomUrl>
    <storyHeadline>
      <Value><![CDATA[4.000+ clients]]></Value>
    </storyHeadline>
    <storyHeadlineImage>
      <Value><![CDATA[[
  {
    "key": "be29b5a1-c919-4231-b8e2-062895e779ca",
    "mediaKey": "0ce55ff2-6ce8-4310-89dc-7761f2c5b1ef",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage>
    <storyText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam
accumsanporttitor arcu,ac tincidunt lectus tincidunt sed]]></Value>
    </storyText>
    <storyTitle>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </storyTitle>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e63e3867-35bd-4c1d-8e08-04a18100fe30",
    "mediaKey": "191058d8-c6ee-4e29-a5ef-3ee5f3da18ae",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successGrImage>
      <Value><![CDATA[[
  {
    "key": "840d7d09-3172-4b69-b688-ba19ce73d2cb",
    "mediaKey": "08d03670-d62f-4d76-9867-046d0ed0bb08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successGrImage>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successNr1>
      <Value><![CDATA[689]]></Value>
    </successNr1>
    <successNr2>
      <Value><![CDATA[370]]></Value>
    </successNr2>
    <successNr3>
      <Value><![CDATA[125]]></Value>
    </successNr3>
    <successText1>
      <Value><![CDATA[More than 100 customers has been]]></Value>
    </successText1>
    <successText2>
      <Value><![CDATA[More than 370 projects has been]]></Value>
    </successText2>
    <successText3>
      <Value><![CDATA[More than 125 branches has been]]></Value>
    </successText3>
    <successTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successTitle>
  </Properties>
</Content>