<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d88c416-1020-46ed-95cf-e127664d139d" Alias="Projects " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-09-30T20:52:19</CreateDate>
    <NodeName Default="Projects " />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67325788-1d33-444a-abf7-4f490621edc4">projects</Template>
  </Info>
  <Properties>
    <boxsButton1>
      <Value><![CDATA[]]></Value>
    </boxsButton1>
    <boxsButtonUrl1>
      <Value><![CDATA[]]></Value>
    </boxsButtonUrl1>
    <boxsDate1>
      <Value><![CDATA[]]></Value>
    </boxsDate1>
    <boxsDate2>
      <Value><![CDATA[]]></Value>
    </boxsDate2>
    <boxsDate3>
      <Value><![CDATA[]]></Value>
    </boxsDate3>
    <boxsDate4>
      <Value><![CDATA[]]></Value>
    </boxsDate4>
    <boxsImg1>
      <Value><![CDATA[[
  {
    "key": "eeb34e59-9fc8-49d6-834d-025722819986",
    "mediaKey": "eb96150a-eb3b-4f59-a912-45bbdd2385b5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </boxsImg1>
    <boxsImg2>
      <Value><![CDATA[[
  {
    "key": "df0e6d86-d1c8-442c-b53f-bd11bca8e064",
    "mediaKey": "1967911e-f92f-44c3-be08-81391141adb7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </boxsImg2>
    <boxsImg3>
      <Value><![CDATA[[
  {
    "key": "bba346b9-dc57-4144-8d95-cb163a4ddb13",
    "mediaKey": "d5d36b24-1749-45a5-9df4-11152d874019",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </boxsImg3>
    <boxsImg4>
      <Value><![CDATA[[
  {
    "key": "b09c2ccf-84c2-4368-a4fb-02aede3014b1",
    "mediaKey": "13008e4b-4332-4a32-8040-ed0d05ab1b2a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </boxsImg4>
    <boxsText1>
      <Value><![CDATA[]]></Value>
    </boxsText1>
    <boxsTilte1>
      <Value><![CDATA[]]></Value>
    </boxsTilte1>
    <boxsTilte2>
      <Value><![CDATA[]]></Value>
    </boxsTilte2>
    <boxsTilte3>
      <Value><![CDATA[]]></Value>
    </boxsTilte3>
    <boxsTilte4>
      <Value><![CDATA[]]></Value>
    </boxsTilte4>
    <projectsHeadline>
      <Value><![CDATA[]]></Value>
    </projectsHeadline>
    <projectsTitle>
      <Value><![CDATA[]]></Value>
    </projectsTitle>
  </Properties>
</Content>