<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3672f8-d9bb-4adc-8aeb-7cc2f943d3b4" Alias="Report" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Report</Path>
    <Trashed>false</Trashed>
    <ContentType>report</ContentType>
    <CreateDate>2024-10-03T23:51:16</CreateDate>
    <NodeName Default="Report" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cbdc95ee-6462-4bb6-91dd-bb02fcc303f3">report</Template>
  </Info>
  <Properties>
    <reportImg1>
      <Value><![CDATA[[
  {
    "key": "55991c0e-7a37-4490-b013-368bf70eca69",
    "mediaKey": "c40087fa-9562-4005-ad53-a308af871712",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reportImg1>
    <reportImg2>
      <Value><![CDATA[[
  {
    "key": "3525ffa9-9643-43e2-83cc-02d7f7b25f23",
    "mediaKey": "aedd5eef-c1e9-4ded-9d18-87843942c5dd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reportImg2>
    <reportImg3>
      <Value><![CDATA[[
  {
    "key": "b68b7992-8e72-4512-b7e5-1bcd6a218975",
    "mediaKey": "6725b0ca-bcde-4c8b-a586-5d250233eaad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reportImg3>
  </Properties>
</Content>