<?xml version="1.0" encoding="utf-8"?>
<Content Key="e040e69b-a71a-4cf6-b3c8-52c432b3ec1b" Alias="Service" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-09-27T09:23:30</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aaeaa82b-e4df-4075-9f79-6cc7c4f20df1">service</Template>
  </Info>
  <Properties>
    <serviceHeadline>
      <Value><![CDATA[]]></Value>
    </serviceHeadline>
    <serviceTitle>
      <Value><![CDATA[]]></Value>
    </serviceTitle>
    <storyHeadlineImage1>
      <Value><![CDATA[[
  {
    "key": "b105c4dd-3ced-4ae5-9c33-57ba7f323de7",
    "mediaKey": "f5eb7649-c9e1-44c6-9d61-078ea0c3520a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage1>
    <storyHeadlineImage2>
      <Value><![CDATA[[
  {
    "key": "20564b6a-4183-458c-aea0-58ec18822351",
    "mediaKey": "e89bfebf-1bcd-4110-8cce-5ee48bd8c37f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage2>
    <storyHeadlineImage3>
      <Value><![CDATA[[
  {
    "key": "252cc3f3-7f48-45eb-b0ae-1b196e36a5db",
    "mediaKey": "c1fcf6ee-9c76-420c-bf6e-672b2fe1d250",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage3>
    <storyHeadlineImage4>
      <Value><![CDATA[[
  {
    "key": "37d00be6-bb0e-4956-95ef-b9a6d8b848ee",
    "mediaKey": "3e475bcb-8ca8-4749-a333-ade71edaff91",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage4>
    <storyHeadlineImage5>
      <Value><![CDATA[[
  {
    "key": "dccc6d19-7085-44f0-9420-334462fdca9e",
    "mediaKey": "561ddbbe-9368-401b-97b0-368370dbae19",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage5>
    <storyHeadlineImage6>
      <Value><![CDATA[[
  {
    "key": "afc96bc9-0c0b-4d28-9139-7c2706bd560b",
    "mediaKey": "3b8f9f7a-fe3d-4eb3-966f-8ce3ca5dd5de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyHeadlineImage6>
  </Properties>
</Content>