<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f8e90b4-d605-4b88-82fe-069f4799cc51" Alias="Home Page - Recent - Financial Text4 - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Recent - Financial Text4 - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>