<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c05e615-4c02-4faa-82c3-db678894ffb4" Alias="Service -  - Block img" Level="1">
  <Info>
    <Name>Service -  - Block img</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "useSingleBlockMode": true
}]]></Config>
</DataType>