<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff144017-b2ff-47fb-830c-599d034063b3" Alias="02" Level="2">
  <Info>
    <Parent Key="649c839e-b2e4-4e06-a183-4077b87f975f">partners</Parent>
    <Path>/partners/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T20:35:47</CreateDate>
    <NodeName Default="02" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tcffesmw/02.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>