<?xml version="1.0" encoding="utf-8"?>
<Media Key="23e6e357-b8df-40d8-8bfc-3586beb0484c" Alias="03" Level="2">
  <Info>
    <Parent Key="649c839e-b2e4-4e06-a183-4077b87f975f">partners</Parent>
    <Path>/partners/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T20:35:58</CreateDate>
    <NodeName Default="03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1aulbfnw/03.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>