<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cd7c05a-619e-4f48-8940-740f365213f8" Alias="04" Level="2">
  <Info>
    <Parent Key="649c839e-b2e4-4e06-a183-4077b87f975f">partners</Parent>
    <Path>/partners/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T20:36:08</CreateDate>
    <NodeName Default="04" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0ufjdwxx/04.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>