<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b5374c3-4618-4a8f-aa40-21bf3d83e842" Alias="06" Level="2">
  <Info>
    <Parent Key="649c839e-b2e4-4e06-a183-4077b87f975f">partners</Parent>
    <Path>/partners/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T20:36:29</CreateDate>
    <NodeName Default="06" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/js5bkplr/06.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>