<?xml version="1.0" encoding="utf-8"?>
<Media Key="626ee8f2-3437-45a2-93b7-9b07be7c1639" Alias="Aaron " Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/Aaron</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T16:21:59</CreateDate>
    <NodeName Default="Aaron " />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agajlqqq/about-old-man-5.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>