<?xml version="1.0" encoding="utf-8"?>
<Media Key="7324e766-4e5d-40f1-99c0-a251fefa5b7e" Alias="about-old-man-1" Level="2">
  <Info>
    <Parent Key="f66c9745-39bb-4f66-a900-131fcc6e104b">Team Members</Parent>
    <Path>/TeamMembers/aboutOldMan1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:30:33</CreateDate>
    <NodeName Default="about-old-man-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3ewhfrju/about-old-man-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>