<?xml version="1.0" encoding="utf-8"?>
<Media Key="be47e164-d4b3-48bc-b8af-f9344c9141b7" Alias="about-old-man-6" Level="3">
  <Info>
    <Parent Key="005e3289-bd68-4a3e-8f59-a8ca6559ffa2">Team Members</Parent>
    <Path>/HeroSlider/TeamMembers/aboutOldMan6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:29:07</CreateDate>
    <NodeName Default="about-old-man-6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3mvbccg0/about-old-man-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>