<?xml version="1.0" encoding="utf-8"?>
<Media Key="217411b4-fc63-4d05-a998-e4a4ca26de98" Alias="about-old-man-7.png" Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/aboutOldMan7png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T17:51:23</CreateDate>
    <NodeName Default="about-old-man-7.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hpndffyk/about-old-man-7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>