<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebc6ad51-92c3-4e2b-b14c-dde2bd2efa7b" Alias="about-old-man-1" Level="3">
  <Info>
    <Parent Key="005e3289-bd68-4a3e-8f59-a8ca6559ffa2">Team Members</Parent>
    <Path>/HeroSlider/TeamMembers/aboutOldMan1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:28:05</CreateDate>
    <NodeName Default="about-old-man-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1ztjaxnk/about-old-man-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>