<?xml version="1.0" encoding="utf-8"?>
<Media Key="3edacb52-9e81-4f1a-b7c0-8a89651406c6" Alias="about- Tina" Level="2">
  <Info>
    <Parent Key="dc31fefe-65e7-49d4-ba91-da7d9cff712f">About US</Parent>
    <Path>/AboutUS/aboutTina</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-22T22:48:40</CreateDate>
    <NodeName Default="about- Tina" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1uajzchi/about-old-man-7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>