<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa5df86e-ab78-4555-96c7-ee0808ada271" Alias="about-old-man-2" Level="2">
  <Info>
    <Parent Key="f66c9745-39bb-4f66-a900-131fcc6e104b">Team Members</Parent>
    <Path>/TeamMembers/aboutOldMan2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:30:50</CreateDate>
    <NodeName Default="about-old-man-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2ezbwtar/about-old-man-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>