<?xml version="1.0" encoding="utf-8"?>
<Media Key="781d1315-aa28-4ed9-92ad-7251e8eec96d" Alias="about-old-man-4.png" Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/aboutOldMan4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T20:09:13</CreateDate>
    <NodeName Default="about-old-man-4.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tlmfxtsb/about-old-man-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>