<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d011410-48b9-4c29-be01-5a2f845d21de" Alias="about-old-man-4" Level="3">
  <Info>
    <Parent Key="005e3289-bd68-4a3e-8f59-a8ca6559ffa2">Team Members</Parent>
    <Path>/HeroSlider/TeamMembers/aboutOldMan4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:28:44</CreateDate>
    <NodeName Default="about-old-man-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t5pepw4q/about-old-man-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>