<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc31fefe-65e7-49d4-ba91-da7d9cff712f" Alias="About US" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUS</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-22T22:47:36</CreateDate>
    <NodeName Default="About US" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>