<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b3246d1-1cb0-4fc7-89a8-91a028cd4976" Alias="about-old-man-6" Level="2">
  <Info>
    <Parent Key="f66c9745-39bb-4f66-a900-131fcc6e104b">Team Members</Parent>
    <Path>/TeamMembers/aboutOldMan6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:32:02</CreateDate>
    <NodeName Default="about-old-man-6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/l0ghjtoz/about-old-man-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>