<?xml version="1.0" encoding="utf-8"?>
<Media Key="d68c56c5-ffcc-4c50-8d29-0be76e1eff80" Alias="card-img-3" Level="2">
  <Info>
    <Parent Key="34012596-413d-4019-9d69-6ceb6cf5d64d">cardImage</Parent>
    <Path>/cardImage/cardImg3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-19T15:30:56</CreateDate>
    <NodeName Default="card-img-3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gy5ho3xl/card-img-3.jpeg]]></Value>
    </umbracoFile>
  </Properties>
</Media>