<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b8f9f7a-fe3d-4eb3-966f-8ce3ca5dd5de" Alias="card-img-3.jpeg" Level="2">
  <Info>
    <Parent Key="34012596-413d-4019-9d69-6ceb6cf5d64d">cardImage</Parent>
    <Path>/cardImage/cardImg3jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T15:38:24</CreateDate>
    <NodeName Default="card-img-3.jpeg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4vkntdku/card-img-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>