<?xml version="1.0" encoding="utf-8"?>
<Media Key="34012596-413d-4019-9d69-6ceb6cf5d64d" Alias="cardImage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cardImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T15:28:29</CreateDate>
    <NodeName Default="cardImage" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>