<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed9ff1cc-ae73-43dc-82ac-3ab212b3ed86" Alias="compo" Level="2">
  <Info>
    <Parent Key="dc31fefe-65e7-49d4-ba91-da7d9cff712f">About US</Parent>
    <Path>/AboutUS/compo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T15:02:49</CreateDate>
    <NodeName Default="compo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/im3nswy0/component-1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>