<?xml version="1.0" encoding="utf-8"?>
<Media Key="89eaa24f-6b72-4e43-8a72-fb0be5b6aa2a" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T20:22:48</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>