<?xml version="1.0" encoding="utf-8"?>
<Media Key="1611955f-0faf-4d8b-8a80-3465fe5448f9" Alias="Hero" Level="2">
  <Info>
    <Parent Key="89eaa24f-6b72-4e43-8a72-fb0be5b6aa2a">Hero Slider</Parent>
    <Path>/HeroSlider/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T20:24:25</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0bpfpigg/hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>