<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd206b5e-2d00-451c-b80f-ed700d1f05bf" Alias="Kevin " Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/Kevin</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T16:23:10</CreateDate>
    <NodeName Default="Kevin " />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vubnwxjh/about-old-man-7.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>