<?xml version="1.0" encoding="utf-8"?>
<Media Key="42f417d2-28a9-4fcf-a617-001c2e3b6a6e" Alias="man smail" Level="2">
  <Info>
    <Parent Key="dc31fefe-65e7-49d4-ba91-da7d9cff712f">About US</Parent>
    <Path>/AboutUS/manSmail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T15:01:56</CreateDate>
    <NodeName Default="man smail" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lxolf3ga/img-standnig-svg.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>