<?xml version="1.0" encoding="utf-8"?>
<Media Key="9045ec4f-f7cf-4dd2-bb65-83a1d9ef08a2" Alias="Miranda Miranda " Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/MirandaMiranda</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T16:22:50</CreateDate>
    <NodeName Default="Miranda Miranda " />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xscl2mhi/about-old-man-9.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>