<?xml version="1.0" encoding="utf-8"?>
<Media Key="78a53406-eaa4-4f61-bcc2-af9a9dbcc307" Alias="Others" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Others</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T20:29:40</CreateDate>
    <NodeName Default="Others" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>