<?xml version="1.0" encoding="utf-8"?>
<Media Key="649c839e-b2e4-4e06-a183-4077b87f975f" Alias="partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-02T20:33:42</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>