<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb96150a-eb3b-4f59-a912-45bbdd2385b5" Alias="pj1" Level="2">
  <Info>
    <Parent Key="cccab9ea-7b9d-4c27-8b89-19e306e48661">Projects</Parent>
    <Path>/Projects/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T21:48:58</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qxpnaxks/pj1.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>