<?xml version="1.0" encoding="utf-8"?>
<Media Key="68fb50a1-8889-4445-b407-8a2cd64d33ce" Alias="pj3.png" Level="2">
  <Info>
    <Parent Key="34012596-413d-4019-9d69-6ceb6cf5d64d">cardImage</Parent>
    <Path>/cardImage/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-28T01:00:48</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f0nl1xxa/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>