<?xml version="1.0" encoding="utf-8"?>
<Media Key="89b58358-a063-497b-b7de-5cd476a527a7" Alias="Recent 1" Level="2">
  <Info>
    <Parent Key="bafe79c8-c398-49c6-b043-25def3e8e644">Recent </Parent>
    <Path>/Recent/Recent1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-21T19:29:00</CreateDate>
    <NodeName Default="Recent 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/03epgpyk/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>