<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2843246-892c-419b-815b-54d484329ba0" Alias="Recent 2" Level="2">
  <Info>
    <Parent Key="bafe79c8-c398-49c6-b043-25def3e8e644">Recent </Parent>
    <Path>/Recent/Recent2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-21T19:29:17</CreateDate>
    <NodeName Default="Recent 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zh2me3cf/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>