<?xml version="1.0" encoding="utf-8"?>
<Media Key="aedd5eef-c1e9-4ded-9d18-87843942c5dd" Alias="Report2" Level="2">
  <Info>
    <Parent Key="71eed16f-1eaf-4f09-a46a-242e6c2e11a7">Report </Parent>
    <Path>/Report/Report2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T23:50:19</CreateDate>
    <NodeName Default="Report2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mckjwgea/anual-img2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>