<?xml version="1.0" encoding="utf-8"?>
<Media Key="c40087fa-9562-4005-ad53-a308af871712" Alias="Report1" Level="2">
  <Info>
    <Parent Key="71eed16f-1eaf-4f09-a46a-242e6c2e11a7">Report </Parent>
    <Path>/Report/Report1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T23:49:55</CreateDate>
    <NodeName Default="Report1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ovgfm2ql/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>