<?xml version="1.0" encoding="utf-8"?>
<Media Key="6725b0ca-bcde-4c8b-a586-5d250233eaad" Alias="Report3" Level="2">
  <Info>
    <Parent Key="71eed16f-1eaf-4f09-a46a-242e6c2e11a7">Report </Parent>
    <Path>/Report/Report3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T23:50:39</CreateDate>
    <NodeName Default="Report3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iv3ghunx/anual-img3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>