<?xml version="1.0" encoding="utf-8"?>
<Media Key="18cea898-47c2-4675-b1f3-97bd803d1c50" Alias="signature" Level="2">
  <Info>
    <Parent Key="78a53406-eaa4-4f61-bcc2-af9a9dbcc307">Others</Parent>
    <Path>/Others/signature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-17T20:33:13</CreateDate>
    <NodeName Default="signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npadlohf/onlinesignaturesnet-302-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>