<?xml version="1.0" encoding="utf-8"?>
<Media Key="2949d9bd-a705-4f40-96e3-616ffbb3b82d" Alias="signature (1)" Level="2">
  <Info>
    <Parent Key="78a53406-eaa4-4f61-bcc2-af9a9dbcc307">Others</Parent>
    <Path>/Others/signature1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T22:41:29</CreateDate>
    <NodeName Default="signature (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/gijb5h1m/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>