<?xml version="1.0" encoding="utf-8"?>
<Media Key="08d03670-d62f-4d76-9867-046d0ed0bb08" Alias="success.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T16:24:51</CreateDate>
    <NodeName Default="success.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/554jnpsg/success.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>