<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b852303-26ee-426d-991a-5c4f5713a3bb" Alias="Tina" Level="2">
  <Info>
    <Parent Key="d3195d84-8498-43f3-b394-c0bbba4446ef">OUR EXPERT</Parent>
    <Path>/OUREXPERT/Tina</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T16:22:14</CreateDate>
    <NodeName Default="Tina" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4bfh3o4j/about-old-man-2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>