@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    
}
    
    
    
    
    <footer class="footer">
        <div class="footer-content">

            <div class="footer-right">
                <p>© Onatrix. All Rights Reserved. Credits to Themesflat</p>
            </div>
        </div>
    </footer>